* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	img {
		display: block;
	}
}

.feature-item-position {
	transform: translateX(50%) translateY(100%);
}

.auth-layout {
	background-color: #ffffff;
	/* opacity: 0.8; */
	/* background-image: radial-gradient(#a1b19f 0.5px, transparent 0.5px),
		radial-gradient(#a1b19f 0.5px, #ffffff 0.5px) ; */
	background-image: url("/images/auth-bg-4.jpg");
	/* filter: grayscale(100%); */

	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	/* background-size: 20px 20px;
	background-position: 0 0, 10px 10px; */
}

.spacing {
	line-height: 3.2rem;
}

/* For icons */
.icon-white {
	filter: brightness(0) invert(1);
}

/* For photos with better quality */
.photo-white {
	filter: grayscale(100%) contrast(150%) brightness(250%);
}

/* For logos */
.logo-white {
	filter: grayscale(100%) contrast(200%) brightness(300%) saturate(0%)
		invert(100%);
}

html {
	scroll-behavior: smooth;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-200%);
	}
}

.animate-scroll {
	animation: scroll 35s linear infinite;
}

.animate-scroll:hover {
	animation-play-state: paused;
}

/* Responsive speed */
@media (max-width: 768px) {
	@keyframes scroll {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-300%);
		}
	}

	.animate-scroll {
		animation: scroll 20s linear infinite;
	}
}
